$pink: #ff63c6;
$green: #29c169;

* {
  box-sizing: border-box;
}

html,body {
  visibility: initial;
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
  color: #888;
  font-size: small;
}

section.main {
  margin-top: 30pt;
}

nav.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(#fff, 0.85);

  border-bottom: 1px solid darken(#fff, 10%);
  position: fixed;
  top: 0;
  z-index: 1;

  > * {
    padding: 0 1em;
    line-height: 30pt;
  }

  .logo {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    background: $green;
  }

  a {
    color: #444;
    text-decoration: none;
    line-height: 1.3em;
    display: inline-block;

    &:hover {
    }
  }
}


form {
  padding: 1em;
}
.form-group {
  label {
    width: 10em;
    display: inline-block;
  }
}

.invalid {
  background-color: $pink;
}

.matches {
  color: $green;
}

.tag {
  border: 1px solid #fff;
}

.tag-chooser {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  .tag-menu {
    padding: 0;
    top: 0;
    background: #fff;
    position: absolute;
    list-style: none;
    max-height: 10em;
    overflow-y: auto;

    & > li {
      margin: 0;
      padding: 0;
    }

    input {
      border: none;
      background: none;
      width: 100%;
    }
  }
}
