$pink: #ff63c6;
$green: #29c169;

* {
  box-sizing: border-box;
}

html,body {
  visibility: initial;
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
  color: #888;
  font-size: small;
}

section.main {
  margin-top: 30pt;
}

nav.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(#fff, 0.85);

  border-bottom: 1px solid darken(#fff, 10%);
  position: fixed;
  top: 0;
  z-index: 1;

  > * {
    padding: 0 1em;
    line-height: 30pt;
  }

  .logo {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    background: $green;
  }

  a {
    color: #444;
    text-decoration: none;
    line-height: 1.3em;
    display: inline-block;

    &:hover {
    }
  }
}


form {
  padding: 1em;
}
.form-group {
  label {
    width: 10em;
    display: inline-block;
  }
}

.invalid {
  background-color: $pink;
}

.matches {
  color: $green;
}

.tag {
  border-radius: 2px;
  padding: 4pt;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
  font-size: 8pt;
  font-weight: bold;
  background-color: #333;
  margin: 1pt;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
  display: inline-block;
}

.tag-chooser {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  & > li {
    display: inline-block;
    &.tag {
      cursor: not-allowed;
    }
  }

  .tag-menu {
    padding: 0;
    top: 0;
    background: #fff;
    position: absolute;
    list-style: none;
    max-height: 10em;
    overflow-y: auto;
    z-index: 10;

    & > li {
      margin: 0;
      padding: 0;
    }

    input {
      border: none;
      background: none;
      width: 100%;
    }
  }
}

.fullsize-editor {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid #ccc;
  }

  th {
    color: #000;
    padding: 1em 0;
  }

  tbody td {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 3pt;
  }

  input[type="text"] {
    width: 100%;
  }
}

input.button {
  font-size: 9pt;
  color: #555;
  text-shadow: #fff 0 1px;
  border: 1px solid #aaa;
  background-color: #efefef;
  border-radius: 2pt;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px;
}

path {
  stroke: #eee;
  fill-rule: evenodd;
}

.tag-inline-editor {
  display: block;
  padding: 0pt;
  margin: 4pt;
  border: 1px solid #444;
}

.angular-ui-tree-node {
  position: relative;
}

.angular-ui-tree-empty {
  min-height: 100px;
  background-color: #ff0000;
}
.angular-ui-tree-nodes {
}

.angular-ui-tree-placeholder {
  background: red;
  display: block;
}

.tag-tree-handle {
  padding: 1em;
  width: 30px;
  height: 30px;
  border: 1px solid #444;
  display: inline-block;
}


.d3-sunburst {
  display: block;
  width: 100%;
}

.sunburst-50 {
  width: 50vw;
  height: 50vh;
}

.d3-tip {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 2px;
  padding: 0.2em;
}
