$pink: #cd1289;

html,body {
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: sans-serif;
  color: #888;
  font-size: small;
  text-shadow: 1px 1px 0px #000;
}

nav.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background: $pink;
  border-bottom: 2px solid darken($pink, 10%);

  a {
    color: #fff;
    line-height: 2em;
    margin: 0.25em;
  }
}

