<table class="fullsize-editor">
	<thead>
		<tr>
			<th>Description</th>
			<th>Expression</th>
			<th>Tags</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="matcher in matchers" ng-style="{'background-color': getTag(matcher.tag_id).color }">
			<td>{{ matcher.description }} {{ getTag(matcher.tag_id).color }}</td>
			<td>{{ matcher.expression }}</td>
			<td>
				<select
					ng-options="tag.id as tag.name for tag in tags"
					ng-model="matcher.tag_id"
					>
				</select>
			</td>
			<td>
				<input type="button" ng-click="deleteMatcher(matcher)" value="delete"/>
			</td>
		</tr>
		<tr>
			<td><input type="text" ng-model="matcher.description"/></td>
			<td><input type="text" ng-model="matcher.expression"/></td>
			<td>
				<select name="tagSelect"
					ng-options="tag.id as tag.name for tag in tags"
					ng-model="matcher.tag_id">
				</select>
			</td>
			<td>
				<input type="button" ng-click="addMatcher(matcher)" value="append"/>
			</td>
		</tr>
	</tbody>
</table>
