
<!--<tags-editor tags="tags"></tags-editor>-->

<script type="text/ng-template" id="nodes_renderer.html">
	<div tag-inline-editor tag="tag"></div>
	<ol ui-tree-nodes ng-model="tag.children">
		<li ng-repeat="tag in tag.children" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>

<div ui-tree="treeOptions" id="tree-root">
	<ol ui-tree-nodes="" ng-model="tagtree.children" >
		<li ng-repeat="tag in tagtree.children" ui-tree-node data-expand-on-hover ng-include="'nodes_renderer.html'"></li>
	</ol>
</div>

