html, body {
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: sans-serif; }

nav.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #cd1289;
  border-bottom: 2px solid #9e0e6a; }
  nav.main-nav a {
    color: #fff;
    line-height: 2em;
    margin: 0.25em; }
